<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <header>
        <div>
            <img src="/assets/blogImage.svg" alt="">
        </div>
        <div class="headings">
            <h2>Grail Blogs</h2>
            <h3>By Grail For Grail</h3>
            <a href="/bloogs" class="btn">View Blogs</a>
        </div>
    </header>

    <%- include("./partials/footer") %>
</body>
</html>
